body {
  background-color: rgba(155, 0, 20, 1);
}
.container {
  margin: 0 auto;
  width: 960px;
  background-color: red;
  border-radius: 5px;
}

.banner {
  color: white;
  margin: inherit;
  width: 320px;
  height: 180px;
  background: url('../assets/images/introBanner.png');
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.tray {
  margin: inherit;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  max-width: 450px;
  border-radius: 10px;
}
.mainField {
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  width: 500px;
}
.playerFields {
  background-color: rgba(255, 255, 255, 0.5);
  width: 960px;
  float: left;
  border-radius: 10px;
}
.playerHand {
  float:left;
  margin: 24px;
  padding: 24px;
  width:40%;
  border-radius: 10px;
}
.discardPile .card {
  color: green;
  margin: 10 auto;

}
.card {
  width: 80px;
  height: 120px;
  float: left;
  background: url('../assets/images/Rainbow-Ralphing Cat.png');
  background-size: cover;
  border-radius: 10px;
}
